* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Vazir.eot');
  src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
  url('fonts/Vazir.woff2') format('woff2'), 
  url('fonts/Vazir.woff') format('woff'), 
  url('fonts/Vazir.ttf') format('truetype');
 }
body{
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Vazir', Arial, sans-serif;
    font-weight:normal;
}

.item1{grid-area: h;}
.item2{grid-area: l;}
.item3{grid-area: r;}
.item4{grid-area: f;}
.item5{grid-area: ff;}
.item6{grid-area: s;}
.item7{grid-area: ss;}
.item8{grid-area: e;}
.item9{grid-area: n;}
.grid-container{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'h h h h h h'
  'l l r r r r'
  'f f f f f f'
  'ff ff ff ff ff ff'
  's s s s s s'
  'ss ss ss ss ss ss'
  'e e e e e e'
  'n n n n n n';
  grid-gap: 1rem;
  padding: 1rem;
  position: relative;
} 
.grid-container .item2, 
.grid-container .item3,
.grid-container .item4,
.grid-container .item5,
.grid-container .item6,
.grid-container .item7,
.grid-container .item8,
.grid-container .item9 {
  background-color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
}
/*item1*/
.myheader{
    display: flex;
    justify-self: start;
    position: relative;
}
.logo  img{
    position: absolute;
    right: 1%;
}
.parent{
  display: flex;
  justify-content: left;
  align-content: center;
}
.menu-toggler, .icon{
    padding: 0.5rem;
    color: rgb(182, 175, 175);
    font-size: medium;
}
